services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: sancocholab
      POSTGRES_PASSWORD: sancocholab
      POSTGRES_DB: sancocholab
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    depends_on:
      - db

    env_file:
      - .env.docker

    environment:
      NODE_ENV: development
      PORT: 3000
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"

    ports:
      - "3000:3000"

    # IMPORTANTE: el compose debe estar en /backend para que ./:/app monte el backend real (con src/)
    volumes:
      - ./:/app
      - /app/node_modules

    command: >
      sh -c "
      npx prisma generate &&
      npx prisma migrate deploy &&
      npx prisma db seed &&
      npm run start:dev
      "

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: johanstian20@hotmail.com
      PGADMIN_DEFAULT_PASSWORD: rmmr
      PGADMIN_DISABLE_POSTFIX: "1"
    ports:
      - "5050:80"

volumes:
  db_data:
      name: sancocholab_db_data
